body {
	font-family: Bahnschrift, 'DIN Alternate', 'Franklin Gothic Medium', 'Nimbus Sans Narrow', sans-serif-condensed, sans-serif;
	font-weight: normal;
	width: 100%;
	touch-action: manipulation;
}

html { 
  background: url(/images/stani.png) no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.center {
  padding: 100% 50px;
  background-color: rgba(0, 0, 0, 0.2);
  border-bottom: none;
  position: absolute;
  height:20%;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
  zoom:2.3;
}
/*tablets*/
@media (min-width: 768px) and (max-width: 1024px)  {
	@media screen and (orientation:landscape){ 
		.center{
			font-size: 17px;
			zoom:1.6;
		}
	}

	@media screen and (orientation:portrait){
		.center{
			font-size: 12px;
			zoom:2.3;
		}
	}
}
/*phones*/
@media screen and (min-resolution: 150dpi) {
	 @media screen and (orientation:portrait){
	 	.center{
	 		font-size: 12px;
	 		zoom: 4;
	 	}
	 }
	 @media screen and (orientation:landscape){ 
		.center{
			zoom:1.7;
		}
	}
}