<!DOCTYPE html>
<html>
	<head>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
		<title>newtable</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="stylesheets/order.css">	    
	</head>
	
	<body>
		<div id='main'>
			<div id='mainmenu'>
				<div id="toppage">
					<h3 style="height:5px;">Παραγγελία: {{tablenumber}}<button id="logb" v-on:click='window.history.back();'>Ακύρωση</button><button id="placeorderb" v-on:click='completeorder'>Ολοκλήρωση παραγγελίας</button></h3>
				</div>
				<!--Horizontal menu category list-->
				<div id="page">
					<button class='menubutton' name='starters' v-on:click='getfood'>Ορεκτικά</button>
					<select style="width:auto" name="starterlist" v-if="isStarters" v-on:change='getfood'>
						<option value="all">Όλα</option>
						<option value="hot">Ζεστά</option>
						<option value="cold">Κρύα</option>
						<option value="soup">Σούπες</option>
					</select>
					<button class='menubutton' name='salads' v-on:click='getfood'>Σαλάτες</button>
					<button class='menubutton' name='fish' v-on:click='getfood'>Ψάρια</button>
					<button class='menubutton' name='cooked' v-on:click='getfood'>Μαγειρευτά</button>
					<button class='menubutton' name='grill' v-on:click='getfood'>Σχάρας</button>
					<button class='menubutton' name='spaghetti' v-on:click='getfood'>Μακαρόνια</button>
					<button class='menubutton' name='burgers' v-on:click='getfood'>Μπέργκερ</button>
					<button class='menubutton' name='pizza' v-on:click='getfood'>Πίτσες</button>
					<button class='menubutton' name='desserts' v-on:click='getfood'>Επιδόρπιο</button>
					<select style="width:auto" name="dessertlist" v-if="isDesserts" v-on:change='getfood'>
						<option value="all">Όλα</option>
						<option value="sweets">Γλυκά</option>
						<option value="icecream">Παγωτά</option>
					</select>
					<button class='menubutton' name='coffee' v-on:click='getfood'>Καφές</button>
					<button class='menubutton' name='drink' v-on:click='getfood'>Ποτά</button>
					<select style="width:auto" name="drinklist" v-if="isDrinks" v-on:change='getfood'>
						<option value="all">Όλα</option>
						<option value="soft">Αναψυκτικά</option>
						<option value="water">Νερό</option>
						<option value="juice">Χυμοί</option>
						<option value="beer">Μπύρες</option>
						<option value="Spirit">Ποτά</option>
						<option value="cocktail">Κοκτέιλ</option>
					</select>
					<button class='menubutton' name='wine' v-on:click='getfood'>Κρασί</button>
					<button class='menubutton' name='breakfast' v-on:click='getfood'>Πρωινό</button>
					<button class='menubutton' name='kids' v-on:click='getfood'>Παιδικό</button>
				</div>
			</div>
			<!--MOBILE-->
			<div id="pagemobile">
				<span id="tableinfo">
					No: {{tablenumber}}
					<button style="width: 40px;height:30px; font-size: 15px; border:none; background-color:lightcoral; color: white;" v-on:click='window.history.back();'>X</button>
				</span>
				<button class='menubutton' name='starters' v-on:click='getfood'>
					Ορεκτικά
					<select style="width:auto" name="starterlist" v-if="isStarters" v-on:change='getfood'>
						<option value="all">Όλα</option>
						<option value="hot">Ζεστά</option>
						<option value="cold">Κρύα</option>
						<option value="soup">Σούπες</option>
					</select>
				</button>
				<button class='menubutton' name='salads' v-on:click='getfood'>Σαλάτες</button>
				<button class='menubutton' name='fish' v-on:click='getfood'>Ψάρια</button>
				<button class='menubutton' name='cooked' v-on:click='getfood'>Μαγειρευτά</button>
				<button class='menubutton' name='grill' v-on:click='getfood'>Σχάρας</button>
				<button class='menubutton' name='spaghetti' v-on:click='getfood'>Μακαρόνια</button>
				<button class='menubutton' name='burgers' v-on:click='getfood'>Μπέργκερ</button>
				<button class='menubutton' name='pizza' v-on:click='getfood'>Πίτσα</button>
				<button class='menubutton' name='desserts' v-on:click='getfood'>
					Επιδόρπιο
					<select style="width:auto" name="dessertlist" v-if="isDesserts" v-on:change='getfood'>
						<option value="all">Όλα</option>
						<option value="sweets">Γλυκά</option>
						<option value="icecream">Παγωτά</option>
					</select>
				</button>
				<button class='menubutton' name='coffee' v-on:click='getfood'>Καφές</button>
				<button class='menubutton' name='drink' v-on:click='getfood'>
					Ποτά
					<select style="width:auto" name="drinklist" v-if="isDrinks" v-on:change='getfood'>
						<option value="all">Όλα</option>
						<option value="soft">Αναψυκτικά</option>
						<option value="water">Νερό</option>
						<option value="juice">Χυμοί</option>
						<option value="beer">Μπύρες</option>
						<option value="Spirit">Ποτά</option>
						<option value="cocktail">Κοκτέιλ</option>
					</select>
				</button>
				<button class='menubutton' name='wine' v-on:click='getfood'>Κρασί</button>
				<button class='menubutton' name='breakfast' v-on:click='getfood'>Πρωινό</button>
				<button class='menubutton' name='kids' v-on:click='getfood'>Παιδικό</button>

			</div>
			<button id="basket" v-on:click='showbasket'>
				 <img src="../images/basket.png" alt="Order basket">
				 {{orderitems}}
			</button>
			
			<div id="centerpage">
				<div id="menuitems" v-if="food[0]">
				<ul id="menulist">
	  				<li v-for="f in food">
	    				<button class='arbutton' :name='f.fname' v-on:click='addorder'>{{f.fname}}</button> 
	  				</li>
				</ul>
				</div>
				<div id="generaloptions" v-if="!hasOptions">
					Παρατηρήσεις<br />
					<textarea v-model='gnotes' name="gnotes" rows="6"></textarea><br><br>
					<button class='menubutton' name='generalnote' v-on:click='generalnote'>γενική</button>
					<button class='menubutton' name='notetoprevious' v-on:click='notetoprevious'>στο προηγούμενο</button>
					<h6 id="gnotes" v-if="hasGnotes">Σημειώσεις: {{godnotes}}<h6>
				</div>
				<div id="foodoptions" v-if="hasOptions">
					<button id="closebutton" style="font-size:30px;" v-on:click="resetvalues">X</button>
					<h4>{{foodtoadd.fname}} επιλογές</h4>
					<button class='menubutton' name='place' v-on:click='placeorder'>Προσθήκη</button>
					<ul v-for="opt in options[0]">
						<li><input type="checkbox" v-on:change='fillcheckboxes' :name="opt">{{opt}}</li>
					</ul>
					<select v-if="is2D" v-model='selected'>
						<option v-for="opt in options[1]" :name="opt">{{opt}}</option>
					</select>
					<select v-if="is3D" v-model='selected2'>
						<option v-for="opt in options[2]" :name="opt">{{opt}}</option>
					</select><br />
					<textarea v-model='fnotes' name="fnotes" placeholder = "Παρατηρήσεις" rows="6"></textarea><br><br>
				</div>

				<div id="orderitems" v-if="order[0]">
				<button v-on:click="sortorder">Ταξινόμηση</button>
				<ul id="orderlist">
	  				<li v-for="o in order" v-if="o.ftype">
						<button class='orderremove' :name='o.fname' v-on:click='remorder'>-</button> {{o.quant}} {{o.fname}} 
	  				</li>
				</ul>
				</div>
				<!--MOBILE-->
				<div id="mobileorder" v-if="ismobile">
				<button style= " float: left; background-color:black; color: white; height: 30px; font-size: 16px; " v-on:click="sortorder">Ταξινόμηση</button>
				<br />
				<ul id="orderlist">
	  				<li v-for="o in order" v-if="o.ftype">
						<button class='orderremove' :name='o.fname' v-on:click='remorder'>-</button> {{o.quant}} {{o.fname}}
	  				</li>
				</ul>
				</div>
				<button id="placeorderbmobile" v-if="ismobile" v-on:click='completeorder'>Ολοκλήρωση</button>
			</div>
		</div>
	</body>
</html>

<script>
app = new Vue({
	el: '#main',
	
	data: {
		username : '',
		tablenumber : 0,
		peoplenumber: 0,
		isStarters : false,
		isDesserts: false,
		isDrinks: false,
		addon: false,
		kitcheninterested1: false, //Hot Kitchen
		kitcheninterested2: false, //Cold Kitchen (if seperate)
        kitchen1stillhaswork : false,
		kitchen2stillhaswork: false,
		iniordercontainsfood: false,
        newordercontainsfood: [false,false], //[0]=Isstarter [1]=isMaincourse
        newordercontainsdessertorcoffee:false,
		food: [],
		iniorder: [],
		order : [],
		starters : [],
		maincourses : [],
		rest: [],
		tablestate: '',
		checkboxes : [],
		foodtoadd : {},
		hasOptions : false,
		hasGnotes : false,
		type : '',
		options : [],
		selected : '',
		selected2 : '',
		fnotes : '',
		gnotes : '',
		godnotes : '',
		is2D : false,
		is3D : false,
		ismobile: false,
		iniorderitems: 0,
		orderitems: 0,
		table : {},
		previousEvent : 0,
		sauces : ["πιπεράτη","κρασάτη","σκορδάτη","αλα κρέμ","σίζλερ","δυόσμου","χωρίς σάλτσα"],
		ingExp: ["ζαμπόν", "μπέικον", "μανιτάρια", "λουκάνικο", "τόνος", "φέτα", "ανανάς"],
        ingChe: ["ντομάτα", "πιπεριά", "ελιές", "κρεμμύδι", "τυρί"],
		sizes: ["μεγάλη", "μικρή"],
		colors: ["λευκό", "ροζέ", "κόκκινο"],
		qualities: ["ξηρό", "ημίξηρο", "ημίγλυκο"]
	},
	methods: {
		reqlogin : function(){
			axios.post('/public/askauth/')
			.then(function (response) {
			// handle success
			if(response.data.answer != "ok"){
				window.location.href = response.data.page + ".html";
			}
			else{
				this.username = response.data.username;
			}
			})
			.catch(function (error) {
			// handle error
			console.log(error);
			});
		},
		getfood : function(event){
			//Color selected button to highlight choice
			if(this.previousEvent == 0){
				event.target.style.borderBottom = "thick solid grey";
			}else{
				this.previousEvent.style.borderBottom = "none";
				event.target.style.borderBottom = "thick solid grey";
			}
			this.previousEvent = event.target;

			//Clear previous options
			if(this.hasOptions){
				this.resetvalues();
			}
            if (event.target.name == "starterlist" || event.target.name == "dessertlist" || event.target.name == "drinklist"){
				if(event.target.value != "all"){
					this.type = event.target.value;
				}
				else{
					if(event.target.name == "starterlist")
						this.type = "starters";
					else if(event.target.name == "dessertlist")
						this.type = "desserts";
					else if(event.target.name == "drinklist")
                        this.type = "drink";
				}
			}
			else{
				this.type = event.target.name;
				if(this.type == "starters"){
					this.isStarters = true;
				}
				else if(this.type == "desserts"){
					this.isDesserts = true;
				}
                else if (this.type == "drink") {
                    this.isDrinks = true;
                }
				else{
					this.isStarters = false;
					this.isDesserts = false;
                    this.isDrinks = false;
				}
			}

			let that = this;
			axios.post('/public/getfood/', {foodtype : this.type})
			.then(function (response) {
			// handle success
			if(response.data != "foodnotfound"){
				//console.log(response.data);
				that.food = response.data.sort((a, b) => { if (a.fname < b.fname) { return -1 } });
			}
			else
				console.log("Not in the menu");
			})
			.catch(function (error) {
			// handle error
			console.log(error);
			})
		},
		addorder : function(event){
			this.resetvalues();
			this.unfillcheckboxes();
			//Grab object
			for(let i = 0; i < this.food.length; i++){
				if(this.food[i]['fname'] == event.target.name){
					this.foodtoadd = this.food[i];
					break;
				}
			}
			//Check has options
			this.hasOptions = this.checkoptions(this.foodtoadd);
			if(this.hasOptions){
				return;
			}
			
			//Add to order, never reaches this line because atm all food objects have options
			this.placeorder();
		},
		placeorder : function(){
			let fpe = this.foodtoadd.fname; //fpe = food plus extras
			let foodtype = this.foodtoadd.ftype; 
			let finalprice = this.foodtoadd.fprice;
		
			if(this.selected && (this.selected != '')){
				fpe += "[" + this.selected + "]";
				if (this.sauces.includes(this.selected)) {
					if (this.selected == "χωρίς σάλτσα" || this.selected == null) {

					}else{
						finalprice += 3.5;
					}
				}
			}
			if(this.selected2 && (this.selected2 != '')){
				fpe += "[" + this.selected2 + "]";
			}
			
			if(this.checkboxes.length!=0){
				fpe += "[";
				for (let i = 0; i < this.checkboxes.length; i++){
					fpe += this.checkboxes[i] + " " + ((i + 1 < this.checkboxes.length) ? " - " : "");
					
					//Wine cases
					if (this.foodtoadd.ftype == "wine") {
                        if (this.foodtoadd.fname == "Σολωμός") {
							if(this.checkboxes[i] == "κόκκινο")
								finalprice += 1;
                            if(this.selected.includes("ημίξηρο"))
								finalprice += 1;
							if (this.selected.includes("ημίγλυκο"))
								finalprice += 2;
						}
						else if (this.foodtoadd.fname == "Πρόρωγος" && this.selected.includes("ημίγλυκο"))
							finalprice += 1;
						else if (this.foodtoadd.fname == "Βαρελίσιο ποτήρι") {
                            if (this.checkboxes[i] == "ροζέ")
                                finalprice += 0.5;
                            else if (this.checkboxes[i] == "κόκκινο")
                                finalprice += 1;
                        }
						else if (this.foodtoadd.fname == "Βαρελίσιο 500mL" || this.foodtoadd.fname == "Βαρελίσιο 1Lt") {
							if (this.checkboxes[i] == "ροζέ")
								finalprice += 1;
							else if (this.checkboxes[i] == "κόκκινο")
								finalprice += 2;
                        }
					}
					
					if (this.ingExp.includes(this.checkboxes[i])) {
						//omelette
						if (this.foodtoadd.ftype == "breakfast") {
							finalprice += 2;
						}
						//Pizza
						else
							finalprice += 2.5;
					}
					else if (this.ingChe.includes(this.checkboxes[i])) {
						//omelette
						if (this.foodtoadd.ftype == "breakfast") {
                            finalprice += 2;
						}
						//Pizza
                        else
							finalprice += 1.5;
					}
					else if (this.checkboxes[i] == "χωρίς παγωτό") {
						finalprice -= 1;
					}
                    else if (this.checkboxes[i] == "με μέλι") {
                        finalprice += 1.5;
                    }
					else if(this.checkboxes[i] == "με ποτό"){
						finalprice += 4;
					}
                    else if (this.checkboxes[i] == "διπλό") {
                        finalprice *= 2;
                    }
                    else if (this.checkboxes[i] == "παιδικό" || this.checkboxes[i] == "χωρίς αλκοόλ") {
                        finalprice -= 2;
					}
					else if (this.checkboxes[i] == "ανθρακούχο") {
						if (fpe.includes("μικρό"))
							finalprice += 2;
						else
							finalprice += 3.5;
                    }
					else if(this.sizes.includes(this.checkboxes[i])){
						//Salad
						if(this.foodtoadd.ftype == "salads"){
							finalprice -= 4;
						}
					}
				}
				fpe = fpe.slice(0,-1);
				fpe += "]";
			}
			if(this.fnotes != ''){
				fpe += "[" + this.fnotes + "]";
			}
            //Check if kitchen1-kitchen2(boufe) should be alerted about the change 
            if (foodtype.includes('drink') || foodtype.includes('wine')) {
                if (this.kitchen1stillhaswork || this.newordercontainsfood[0] || this.newordercontainsfood[1]) {
                    this.kitcheninterested1 = true;
                    this.kitcheninterested2 = true;
                }
                else if (!this.kitchen1stillhaswork && !this.newordercontainsfood[0] && !this.newordercontainsfood[1])
                    this.kitcheninterested1 = false;

                if (this.kitchen2stillhaswork || this.newordercontainsdessertorcoffee)
                    this.kitcheninterested2 = true;
                else if (!this.kitchen2stillhaswork && !this.newordercontainsdessertorcoffee)
                    this.kitcheninterested2 = false;
            }
            else {
                if (foodtype.includes('desserts') || foodtype.includes('coffee')) {
                    this.newordercontainsdessertorcoffee = true;
                    this.kitcheninterested2 = true;
                }
				else {
                    if ((foodtype.includes("starters") ||
                        foodtype.includes("salads") ||
                        foodtype.includes("kids") ||
                        foodtype.includes("breakfast")) &&
                        (!foodtype.includes("δεύτερο"))) {
						this.newordercontainsfood[0] = true;
					}
					else {
						this.newordercontainsfood[1] = true;
                    }
					this.kitcheninterested1 = this.kitcheninterested2 = true;
                }
            }
			if (this.addon) {
				fpe += '[Ε]';
			}
			for(let i = 0; i < this.order.length; i++){
				if(this.order[i]['fname'] == fpe){
					this.order[i]['quant'] += 1;
					this.orderitems++;
					return;
				}
			}
			this.orderitems++;
			this.order.push({ 'fname': fpe, 'quant': 1, 'ftype': foodtype, fprice: finalprice });
			
			//Inform basket has new item in case of mobile view
			document.getElementById("basket").style.backgroundColor = "red";
			//document.getElementById("basket").style.animation = "blinker 1s linear"; TODO ANIMATION
		},
		checkoptions : function(f){
			//Rest of the options have to be global variables so that placeorder can increase the food price accoordingly
			let garnishes = ["τηγανιτές", "φούρνου", "ρύζι", "λαχανικά σχάρας" , "σαλάτα", "μακαρόνια", "χωρίς γαρνιτούρα"];
			let cooking = ["blue", "rare", "medium rare", "medium", "medium well", "well done"];

			if(f.ftype[0] == "starters" || f.ftype == "salads" || f.ftype == "kids"){
				if(f.foptions && (f.foptions[f.foptions.length-1] != "για δεύτερο"))
					f.foptions.push("για δεύτερο");
				else if(!f.foptions)
					f.foptions = ["για δεύτερο"];
			}
			if(f.foptions){
				if(f.foptions[0] == "garnish" && f.foptions[1] == "sauce" && f.foptions[2] == "cooking"){		
					this.is2D = true;
					this.is3D = true;
					this.options[0] = garnishes;
					this.options[1] = this.sauces;
					this.options[2] = cooking;
				}
				else if(f.foptions[0] == "garnish" && f.foptions[1] == "sauce"){		
					this.is2D = true;
					this.options[0] = garnishes;
					this.options[1] = this.sauces;
				}

				else if(f.foptions[0] == "garnish" && f.foptions[1] == "cooking"){		
					this.is2D = true;
					this.options[0] = garnishes;
					this.options[1] = cooking;
				}
				//Piza or omelette
				else if (f.foptions == "ingr" || (f.foptions[0] == "size" && f.foptions[1] == "ingr")) {
					this.is2D = false;
					this.options[0] = this.ingExp.concat(this.ingChe);
				}
				else if (f.foptions[0] == "colors" && f.foptions[1] == null) {
					this.is2D = false;
					this.options[0] = this.colors;
                }
				else if (f.foptions[0] == "colors" && f.foptions[1] == "qualities") {
					this.is2D = true;
					this.options[0] = this.colors;
					this.options[1] = this.qualities;
                }
				else if(f.foptions[0] == "garnish"){
					this.is2D = false;
					this.options[0] = garnishes;
				}

				else{
					this.is2D = false;
					this.options[0] = f.foptions;
					this.options[1] = "";
				}
				return true;	
			}
			else
				return false;
		},
		remorder : function(event){
			if(this.order.length == 0)
				return;

			let i;
			for (i = 0; i < this.order.length; i++){
				if (this.order[i]['fname'] == event.target.name) {
					//Check what has been served and thus CANNOT be removed
					if (this.tablestate.includes('st')) {
						if ((this.order[i]['ftype'].includes("starters") ||
							this.order[i]['ftype'].includes("salads") ||
							this.order[i]['ftype'].includes("kids") || 
                            this.order[i]['ftype'].includes("breakfast")) &&
							(!this.order[i]['fname'].includes("δεύτερο")) &&
							(!this.order[i]['fname'].includes("[Ε]")))
						{

							window.alert("Άδύνατη η αφαίρεση αντικειμένου που έχει ήδη σερβιριστεί!");
							return;
						}
					}
					if (this.tablestate.includes('ma')) {
						if ((this.order[i]['ftype'].includes("cooked") ||
							this.order[i]['ftype'].includes("grill") ||
							this.order[i]['ftype'].includes("fish") ||
							this.order[i]['ftype'].includes("spaghetti") || 
							this.order[i]['ftype'].includes("pizza") || 
                            this.order[i]['ftype'].includes("burgers")) &&
                            (!this.order[i]['fname'].includes("πρώτο")) &&
							(!this.order[i]['fname'].includes("[Ε]")))
						{

                            window.alert("Άδύνατη η αφαίρεση αντικειμένου που έχει ήδη σερβιριστεί!");
                            return;
                        }
					}

                    //Check if kitchen1-kitchen2(boufe) should be alerted about the change 
					if (this.order[i]['ftype'].includes('drink') || this.order[i]['ftype'].includes('coffee') || this.order[i]['ftype'].includes('wine')) {
						//DO NOTHING DUMMY 
                    }
                    else {
                        if (this.order[i]['ftype'].includes('desserts')) {
                            this.kitcheninterested2 = true;
                        }
                        else {
                            this.kitcheninterested1 = this.kitcheninterested2 = true;
                        }
					}

					if (this.addon) {
                        this.godnotes += "Αφαιρέθηκε - " + this.order[i].fname + " | ";
						this.hasGnotes = true;
					}
					let quant = this.order[i].quant;
					if(quant > 1){
						this.order[i]['quant'] -= 1;
						break;
					}
					else if(quant == 1){
						this.order.splice(i,1);
						break;
					}
				}
			}
			this.orderitems--;
		},
		completeorder : function(){
			if(this.order.length == 0){
					alert("Μια παραγγελία δεν μπορεί να είναι κενή");
					return;
			}
			if(confirm("Είστε σίγουρος/η")){
				//get order time
				let today = new Date();
				let time = today.getHours() + ":" + today.getMinutes();
                let alerts = [true, true, true, true, ""]; //Who saw [0] = kitchen, [1] = kitchen2(boufe), [3] = waiter, [4] = owner
				//sort order table
				this.sortorder();
                alerts[0] = !this.kitcheninterested1;
                alerts[1] = !this.kitcheninterested2;
				if (this.addon) {
					if (this.orderitems != this.iniorderitems) {
						if (this.orderitems > this.iniorderitems) {
							alerts[2] = alerts[3] = false;
							alerts[4] = "addonADDED"
						}
						else if (this.orderitems < this.iniorderitems) {
                            alerts[2] = alerts[3] = false;
                            alerts[4] = "addonREMOVED"
                        }
					}
					else {
						let changed = false;
						//ORDER ITEMS ARE THE SAME AMOUNT CHECK IF SOMETHING HAS CHANGED
						for (let i = 0; i < this.order.length; i++) {
							if ((this.order[i].quant != this.iniorder[i].quant) || !(this.order[i].fname === this.iniorder[i].fname) ) {
								//SOMETHING HAS CHANGED
								changed = true;
								break;
                            }
						}
						if (changed) {
							alerts[2] = alerts[3] = false;
							alerts[4] = "addonAAR" //AAR = ADDED AND REMOVED (SAME AMMOUNT)
						}
						else {
                            alerts[0] = alerts[1] = alerts[2] = alerts[3] = false;
                            alerts[4] = "addonNOTE"
                        }
                    }
				}
				let startersserved = false;
				let mainsserved = false;
				let served = true;

				if ((this.starters.length == 0 || this.tablestate.includes('st')) && !this.newordercontainsfood[0])
					startersserved = true;
				if ((this.maincourses.length == 0 || this.tablestate.includes('ma')) && !this.newordercontainsfood[1])
					mainsserved = true;
				
                this.table = { tnumber: this.tablenumber, tpeople: this.peoplenumber, tnew: [true, true, false, false], torder: [this.starters, this.maincourses, this.rest], tgnotes: this.godnotes, ttime: time, tstartersserved: [startersserved, startersserved, ""], tmainsserved: [mainsserved, ""], talert: alerts };
				
				/*
				talert: First three elements represent who saw amongst kitchen, boufe, waiter(s) and owner while last element (string) represents the alert itself, an example would be if a table had an addon and had asked for the bill then the table would have the following stucture [true, true, true, true "addonbill"], once someone is informed of the change then one or more of the boolean values will be changed.
				-----------------------------------------------------------------------------------------
				tnew: Elements represent who saw amongst owner, waiter(s), kitchen and boufet
				*/

				axios.post('/public/completeorder/', { table: this.table, isserved: served } )
				.then(function (response) {
					if(response.data == 'ok'){}
                    window.location.replace("waiter.html");
				})
				.catch(function (error) {
				// handle error
				console.log(error);
				});
			}
		},
		sortorder : function(){
			let order = [];
			order = this.order;
			let sorted = [];
			let starters = [];
			let maincourses = [];
			let rest = [];
			this.orderitems = 0; //Recount them
			let length = order.length;
			let i;
			let temp;

			if(length == 0)
				return;

			for(i=0; i<length;i++){
				temp = order[i].ftype[0];
                if (temp == "starters" || temp == "salads" || temp == "kids"){
					if(order[i].fname.includes("για δεύτερο")){
						order[i].ftype.push("asmain");
						maincourses.push(order[i]);
					}
					else{
						starters.push(order[i]);
					}
					this.orderitems += order[i].quant;
				}
				else if(temp == "cooked" || temp == "grill" || temp == "fish" || temp == "spaghetti" || temp == "pizza" || temp == "burgers" || temp == "special" || temp == "breakfast"){
					if(order[i].fname.includes("πρώτο") || order[i].fname.includes("πρωτο")){
						order[i].ftype.push("asstarter");
						starters.push(order[i]);
					}
					else{
						maincourses.push(order[i]);
					}
					this.orderitems += order[i].quant;
				}
				else{
					rest.push(order[i]);
					this.orderitems += order[i].quant;
				}
				
			}
            this.starters = starters.sort(function (a, b) {
				return a.fname.localeCompare(b.fname);
            });
            this.maincourses = maincourses.sort(function (a, b) {
                return a.fname.localeCompare(b.fname);
            });
            this.rest = rest.sort(function (a, b) {
                return a.fname.localeCompare(b.fname);
            });
			sorted = this.starters.concat(this.maincourses, this.rest);
			this.order = sorted;
		},
		//In case change order was requested
		getorder : function(){
			let that = this;
			axios.post('/public/getorder/', {number : this.tablenumber})
			.then(function (response) {
				if (response.data != 'ordernotfound') {
					that.order = that.iniorder = response.data.order;
					that.sortorder();
					that.iniorderitems = that.orderitems;

					if(that.starters.length != 0 || that.maincourses.length != 0){
						that.addon = true;
					}
					if(response.data.tgnotes != ''){
						that.hasGnotes = true;
						that.godnotes = response.data.tgnotes;
					}
					for (let i = 0; i < that.iniorder.length; i++) {
						if (!that.iniorder[i]['ftype'].includes('drink') &&
							!that.iniorder[i]['ftype'].includes('coffee') &&
							!that.iniorder[i]['ftype'].includes('wine'))
						{
							that.iniordercontainsfood = true;
							if (that.iniorder[i]['fname'].includes("[Ε]")) {
                                if (that.iniorder[i]['ftype'].includes('desserts'))
                                    that.kitchen2stillhaswork = true;
                                else {
                                    that.kitchen1stillhaswork = true;
                                    that.kitchen2stillhaswork = true;
                                }
                            }
						}
                    }
				}
				else
					console.log("order not present");
					
			})
			.catch(function (error) {
			// handle error
			console.log(error);
			});
		},
		toggleorset : function(value,set){
			if(value){
				if(value == true)
					return false;
				else
					return "";
			}
			else
				return set;
		},
		showbasket : function(){
			this.ismobile = this.toggleorset(this.ismobile, true);
			document.getElementById("basket").style.backgroundColor = "rgba(0,0,0,0.6)";
		},	
		fillcheckboxes : function(event){
			if(event.target.checked)
				this.checkboxes.push(event.target.name);
			else{
				for(let i=0; i < this.checkboxes.length; i++){
					if(this.checkboxes[i] == event.target.name){
						this.checkboxes.splice(i,1);
					}
				}
			}
		},
		unfillcheckboxes : function(){
			let inputs, index;

			inputs = document.getElementsByTagName('input');
			for (index = 0; index < inputs.length; ++index) {
				if(inputs[index].checked){
					inputs[index].checked = false;
				}
			}
		},
		notetoprevious : function(){
			if(this.order.length > 0 && this.gnotes != ''){
				this.order[this.order.length-1].fname += "[" + this.gnotes + "]";
				this.gnotes = '';
			}
		},
		generalnote : function(){
			if(this.gnotes != ''){
				this.hasGnotes = true;
				this.godnotes += 'ΣΗΜΕΙΩΣΗ - ' + this.gnotes + " | ";
				this.gnotes = '';
			}
			else if(this.gnotes == '' && this.godnotes != ''){
				if(confirm("Καθαρισμός γενικών παρτηρήσεων;")){
					this.godnotes = '';
					this.hasGnotes = false;
				}
			}
		},
		resetvalues : function(){
			this.hasOptions = false;
			this.is2D = false;
			this.is3D = false;
			this.selected = '';
			this.selected2 = '';
			this.fnotes = '';
			this.gnotes = '';
			this.options[0] = [];
			this.options[1] = [];
			this.options[2] = [];
			this.foodtoadd = [];
			this.checkboxes = [];
		}
			
	},
	created : function(){
		this.reqlogin();
		//table details (hardcode becuse I know the url structure)
		let match;
		match = window.location.href.match(/tn=(\w+)/);
		if(match==null){
			match = window.location.href.match(/ch=(\w+)/);
			this.tablenumber = match[1];
			match = window.location.href.match(/state=(\w+)/);
			if(match != null)
				this.tablestate = match[1];
			this.getorder();
		}
		else{
			this.tablenumber = match[1];
			match = window.location.href.match(/tp=(\d+)/);
			this.peoplenumber = match[1];
		}
	}
})
</script>